body{
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Mono', monospace;
    background-image: url('../media/img/homeBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: fixed !important;
}

img{
    width: 90%;
}

.itens-texto{
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.card{
    background-color: rgba(0, 0, 0, 0.6);
    width: 18rem;
    text-align: center;
    margin: 0 1rem;
    border-radius: 20px;
}

.container-info{
    display: flex;
    justify-content: center !important;
}

.card .material-symbols-outlined {
  font-size: 100px;
}

.carousel{
    height: 20vh;
}

.img{
    width: 90%;
}

.carossel{
    position: absolute;
}

.developer{
    width: 100%;
    background-color: rgb(36, 4, 4);
    padding: 0 !important;
    margin: 0 !important;
}

.developer img{
    width: 15%;
    align-self: center !important;
    border-radius: 50%;
    margin-top: 3%;
}

.developer .card-body{
    margin-top: 3%;
}

.carousel-control-next{
    display: flex !important;
    justify-content: flex-end !important;
    margin: 22% 6%;
}

.carousel-control-prev{
    display: flex !important;
    justify-content: flex-start !important;
    margin: 22% 6%;
}