@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
p{
    margin: 0px
}

.console p::after {
    content: "_";
    font-weight: bold;
    margin-left: 0px;
    opacity: 1;
    animation: pisca .7s infinite
}

@keyframes pisca {
    0%,100%{
        opacity: 1
    } 
    50% {
        opacity: 0
    }
}

body {
    background-color: #111;
    color: #bbb;
    font-family: 'IBM Plex Mono', monospace;
}

.console {
    border: 1px solid #ddd;
    background-color: #171717;
    border-radius: 5px;
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
    background: rgba(69, 69, 69, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}