@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Press+Start+2P&display=swap');
@import url('/css/base.css');

body {
    padding-top: 0;
    background: #000000;
    font-family: 'Press Start 2P', cursive;
    height: 95vh;
}

h1 {
    color: #FFFFFF;
}

.container {
    display: grid;
    align-content: space-between;
}

#boss {
    display: grid;
    flex-direction: row-reverse;
    justify-content: end;
    justify-items: center;
    margin-top: 20px;
}

img {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.material-symbols-outlined {
    color: #FFFFFF;
    position: absolute;
    left: 97.5%;
}

#bagItems {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;   
}

@keyframes RGB {
    100% {color: greenyellow;}

    80% {color: yellow}

    60% {color:red}

    40% {color: pink}

    20% {color: blue;}

}

#modalBag {
    position: relative;
    background: rgb(0, 0, 0, 0.9);
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    top: 20%;
    overflow: hidden;
    overflow-y: scroll;
    border: 5px solid rgb(255, 255, 255);
}

@keyframes skipBlink {
    100% {color: #444444;}

    50% {color: #FFFFFF}

    0% {color: #444444}
}

#skipDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#skipBtn {
    animation: skipBlink 3s linear;
    animation-iteration-count: infinite;
    border: 0px;
    width: 20vw;
}

#txtInputUser {
    background: #000000;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

#bag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid #FFFFFF;
    margin-top: -35px;
    background: rgb(0,0,0,0.92); 
    color: #FFFFFF;
}

.itemRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.itemImg {
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

button{
    border: 0;
    background: none;
    color: white;
}

button#btnBag {
    width: 100%;
    height: 100%;
}

#txtBossMessage {
    color: #FFFFFF;
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#bossTxtBox { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    border: 5px solid #FFFFFF;
    margin-top: -35px;
    background: rgb(0,0,0,0.92);
}

#txtUserMessage {
    color: #FFFFFF;
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#userBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    border: 5px solid #FFFFFF;
    margin-top: -35px;
    background: rgb(0,0,0,0.92);
}

@keyframes healthBarGrow{
    100% {width:100%}

    0% {width:0%}

}

#userRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 40vh;
    flex-wrap: wrap;
}

#userName {
    color: #FFFFFF;
}

#userBar {
    display: grid;
    justify-items: center;
    width: 700px;
}

#bossName {
    padding-bottom: 10px;
    color: white;
}

#healthUserNormal {
    animation: healthBarGrow 7s linear;
    background: white;
    height: 100%;
}

#healthBossNormal {
    animation: healthBarGrow 7s linear;
    background: white;
    height: 100%;
}

.healthBarEmpty {
    border: 1px solid #FFFFFF;
    width: 600px;
    height: 40px;
}