*::after,*::before{
    margin: 0 !important;
    padding: 0;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-image: url('../media/img/homeBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: fixed !important;
}

.accordion-item{
    background-color: rgb(255, 255, 255,.0) !important;
    padding: 5px;
}

.accordion-header{
    background-color: rgba(255, 210, 188, .4) !important;
    padding: 10px !important;
    
}

.accordion-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end !important;
    background-color: rgb(0, 0, 0,.0);
    color: white;
}

.accordion-button p{
    margin: 0 0 0 0.8rem !important;
}

.accordion-body{
    color: white;
    background-color: rgba(232, 77, 0, .2) !important;
    border-bottom: 10px !important;
}

.faqs{
    margin-top: 15vh;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

.faqs::-webkit-scrollbar{
    display: none !important;
}

.accordion-button:not(.collapsed){
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0,.0);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }