body {
    display: flex;
    background-color: #000000;
    width: auto;
    height: auto;
}

.form-control {
    display: flex;
    border: 3px solid #FFFFFF;
    background-color: #000000;
    color: #777777;

}

.form-control:focus {
    border: 5px solid;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #000000;
    color: #c4c4c4;
}

label {
    color: #777777;
}

a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration-line: underline;
    color: #C4C4C4;
}

@keyframes blink {

    0%,
    100% {border-color: #83109B}

    50% {border-color: #38F8DA}
}

@keyframes colorWave {
    0%,

    100% {background-color: #F0621B}

    50% {background-color: #D368EB}
}

.CustomCol{
    
    
}

img {
    
    height: 93vh;
    
}

#showPw {
    margin-top: 20px;
}

#linkDiv {
    margin-top: 100px;
}

#allDiv {
    display: grid;
    gap: 10px;
    justify-content: flex-start;
}

#divInputs {
    display: grid;
    justify-self: flex-start;
}

.btn{
    color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    /*     background-color: #FFFFFF; */
}

/*TO NOT CHANGE TO THE BOOTSTRAP DEFAULT BUTTON */
.btn-outline-primary:active {
    background-color: #000000;
    border-radius: 8px; 
    animation-name: colorWave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border: 2px solid #FFFFFF;
}

/*TO NOT CHANGE TO THE BOOTSTRAP DEFAULT BUTTON */
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255, 0.2);
  }

.btn-outline-primary{
    background-color: #000000;
    color: #FFFFFF;
}


.btn-outline-primary:hover {
    background-color: #000000;
    border-radius: 8px; 
    animation-name: colorWave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border: 2px solid #FFFFFF;
}