@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body{
    color: rgb(255, 255, 255);
    display: table-footer-group;
    font-family: 'IBM Plex Mono', monospace;
    background-image: url('../media/img/perfilBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.itensInputs {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 32px;
}

.btn {
    color: white;
    background-color: rgba(131, 16, 155, 1);
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: white;
    margin: auto;
}

.imgPerfil{
    width: auto;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

.fileAdd{
    opacity: 0.0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    height:80%;
}

.img{
    position: relative; 
    line-height: 30px; 
    text-align: center;
}

@media (min-width: 100px) {
    .img {
        order: 2 !important;
    }
}